venv
User Recording.wav
__pycache__/audio.cpython-311.pyc
__pycache__/input_variables.cpython-311.pyc
__pycache__/interview_functions.cpython-311.pyc
__pycache__/interview_login.cpython-311.pyc
__pycache__/main2.cpython-311.pyc
